<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body {
            background-color: skyblue;
            font-family: Verdana;
            color: #fff;
            padding: 30px;
        }

        h4 {
            font-size: 48px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 16px;
            text-align: center;
        }
    </style>

</head>

<body>
    <%- include ('nav'); %>
    <h4>Entre em contato!</h4>

    <p>Deixe aqui uma mensagem para nós!...</p>
    <form action="/contact-success" method="POST" id="contact-form">
        <label for="who">Quem deseja contatar?</label>
        <input type="text" name="who" value="<%= qs.person %>">
        <br><br>
        <label for="department">Qual departamento?</label>
        <input type="text" name="department" value="<%= qs.dept %>">
        <br><br>
        <label for="email">Deixe aqui seu email de contato</label>
        <input type="text" name="email">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
    </div>

</body>

</html>