<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../assets/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Document</title>

</head>

<body>
    <%- include ('nav'); %>

    <h4>Bem vindos ao primeiro site demonstrativo em NodeJS!</h4>
    
    <p>O melhor do mercado.</p>
</body>

</html>